https://{$DOMAIN} {
    header Content-Type "text/html; charset=utf-8"
    respond <<HTML
<!doctype html>
<html>
  <head>
    <style>
      html { height: 100%; }
      body { height: 100%; display: grid; place-items: center; background: #500; margin: 0; }
      #ram { font-size: 100px; }
      #version { color: white; text-align: right; }
    </style>
  </head>
  <body>
    <div><div id="ram">&#x2648;</div><div id="version">2.0</div></div>
  </body>
</html>
HTML 200
}

https://dash.{$DOMAIN} {
#    basic_auth bcrypt {
#        {$BASIC_AUTH_CREDS}
#    }
    reverse_proxy beszel:8090
}

https://stsh.{$DOMAIN} {
    reverse_proxy filestash:8334
}

https://status.{$DOMAIN} {
    reverse_proxy uptime-kuma:3001
}

https://st.{$DOMAIN} {
    reverse_proxy host.docker.internal:8384
}

https://a.{$DOMAIN} {
    root * /srv
    file_server browse
}

https://claw.{$DOMAIN} {
    root * /claw/srv
    file_server browse
}

https://pb.{$DOMAIN} {
    reverse_proxy host.docker.internal:9910
}

https://mapper.{$DOMAIN} {
    reverse_proxy host.docker.internal:7349
}

import sites-enabled/*
