[Unit]
Description=docker compose app: %i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=%h/opt/compose/%i
ExecStart=%h/opt/scripts/docker-composex.bash up -d --remove-orphans
ExecStop=%h/opt/scripts/docker-composex.bash down
ExecReload=%h/opt/scripts/docker-composex.bash up -d --remove-orphans
TimeoutStartSec=0

[Install]
WantedBy=default.target
