[Unit]
Description=zuo_shou
After=network-online.target
Wants=network-online.target

[Service]
Type=exec
WorkingDirectory=%h/opt/apps/zuo_shou
ExecStart=%h/opt/apps/zuo_shou/rel/zuo_shou/bin/zuo_shou start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
